body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;  
}
header{
    width: 390px;
}
.header-image{
    width: 390px;
    position: relative;
}
.header-image-title{
    position: absolute;
    font-size: 20px;
    color: coral;
    top: 2%;
    left: 32%; 
}
.container{
    width: 390px;
}
.cover-image{
    width: 390px;
    height: auto;
}
.cover-food{
    width: 100%;
}
.cover-bottom-image{
    width: 390px;
    position: relative;
}
.introduction{
    width: 390px;
    padding: 15% 0; 
}
.introduction-text{
    font-size: 15px;
    line-height: 40px;
    color: coral;
    text-align: center;
}
.generate-area{
    width: 100%;
}
#lunch-box{
    width: 85%;
    height: 200px;
    background-color: goldenrod;
    display: flex;
    justify-content:center;
    padding: 5px;
}
#left{
    width: 55%;
    height: 100%;
}
#main-dish{
    width: 100%;
    height: 50%;
    background-color: darkgoldenrod;
}
.main-dish-image{
    width: 100%;
}
#left-bottom{
    width: 100%;
    height: 50%;
    display: flex;
}
#vegi{
    width: 45%;
    height: 100%;
    background-color: chartreuse;
}
.vegi-image{
    width: 100%;
    height: 100%;
}
#side-dish{
    width: 55%;
    height:100% ;
    background-color: darkorange;
}
.side-dish-image{
    width: 100%;
    height: 100%;
}
#rice{
    width: 45%;
    height: 100%;
    background-color: #fff;
}
.rice-image{
    width: 101%;
}