body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;  
}
h3{
    font-size: 20px;
    color: orangered;
}
header{
    width: 390px;
}
.header-image{
    width: 390px;
    position: relative;
}
.header-image-title{
    position: absolute;
    font-size: 20px;
    color: coral;
    top: 2%;
    left: 32%; 
}
.container{
    width: 390px;
}
.cover-image{
    width: 390px;
    height: auto;
}
.cover-food{
    width: 100%;
}
.cover-bottom-image{
    width: 390px;
    position: relative;
}
.introduction{
    width: 390px;
    padding: 15% 0; 
}
.introduction-text{
    font-size: 15px;
    line-height: 40px;
    color: orangered;
    text-align: center;
}

/* お弁当エリア */
.generate-area{
    width: 100%;
    height: 390px;
    background-color: coral;
    display: flex;
}
#lunch-box{
    width: 85%;
    height: 200px;
    background-color: saddlebrown;
    display: flex;
    justify-content:center;
    padding: 5px;
    margin: 100px 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
#left{
    width: 55%;
    height: 100%;
}
#main-dish{
    width: 100%;
    height: 50%;
    background-color: darkgoldenrod;
    overflow: hidden;
}

#main-dish img{
    width: 100%;
    height: 100%;
    
}
#main-dish-image{
    width: 100%;
}
#left-bottom{
    width: 100%;
    height: 50%;
    display: flex;
}
#vegi{
    width: 45%;
    height: 100%;
    background-color: chartreuse;
    overflow: hidden;
}
#vegi-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#side-dish{
    width: 55%;
    background-color: darkorange;
    overflow: hidden;
}
#side-dish-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#rice{
    width: 45%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}
#rice-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.question{
    font-size: 20px;
    text-align: center;
    color: red;
    margin: 60px;
}

/*  */
#main-dish-image{
    display: none;
}

#side-dish-image{
    display: none;
}

#vegi-image{
    display: none;
}

#rice-image{
    display: none;
}
.calorie-area{
    width: 100%;
    height: 30px;
    margin: 0px 0px;
    background-color: coral;
}
#total-calories{
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0 20px 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornsilk;
}

/* シャッフルボタン */
.try-area{
    width: 390px;
    display: flex;
    justify-content: center;
}
/* ボタン本体 */
#generate-btn {
    display: inline-block;
    padding: 0.8em 3em;
    background-color: #e3364a; /* 背景色 */
    box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */
    margin: 50px;
  }
/* クリック時 */
#generate-btn:active {
    box-shadow: none;
    transform: translateY(5px);
  }

.nutrition{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
}
.ingredients-area{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
}

  dl,
  dt,
  dd {
      margin: 0;
      padding: 0;
  }
  dl+dl {
    margin-top: 1rem;
}

dt,
dd {
    padding: 5px;
}

dl {
    position: relative;
    overflow: hidden;
}

dl>input {
    display: none;
}

dt {
    position: relative;
    z-index: 1;
    padding-right: 40px;
    background: coral;
}

dd {
    position: absolute;
    visibility: hidden;
    transform: translateY(-100%);
    transition: .4s;
    background: beige;
}
.ingredients-item{
    width: 100%
}

dl>input:checked+label+dd {
    position: relative;
    visibility: visible;
    transform: translateY(0);
}

dt::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    top: 50%;
    right: 10px;
    background: #fff;
    transform: translateY(-50%);
}

dt::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 3px;
    background: #fff;
    transition: .4s;
    transform: translateY(-50%) rotate(90deg);
}

dl>input:checked+label>dt::after {
    transform: translateY(-50%) rotate(180deg);
}

.ingredients-list{
    width: 100%;
    background-image: url("../img/kaimonolist-background.png");
    background-size: 100%;
    background-position: center;
    height:600px;
    font-size: 16px;
    color: black;
    font-display:center
}
.ingredients-text{
    position: relative;
    top: 85px;
    left: 45px;
}
